.post {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post__header {
    display: flex;
    justify-content: space-between;
}

.post__headerLeft {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.post__profilePhoto {
    width: 52px;
    border-radius: 50%;
}

.post__info {
    margin-left: 10px;
}

.post__info > p {
    font-size: 12px;
    color: #999;
}

.post__body {
    overflow-wrap: anywhere;
    margin-bottom: 19px;
}

.post__info > h2 {
    font-size: 15px;
    font-weight: 600;
}

.post__buttons {
    display: flex;
    align-items: center;
}

.post__headerRight {
    position: relative;
}

.post__headerRight button.post__headerRight__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: #f3f3f3;
    height: 35px;
    border-radius: 20px;
    transition: 0.3s;
}

.post__headerRight button.post__headerRight__button:hover {
    background-color: #ececec;
}

.post__headerRight__icon {
    font-size: 24px;
    color: #8F8F8F;
}

.post__headerRight__menu {
    position: absolute;
    left: -165px;
    top: 42px;
    border-radius: 7px;
    background-color: #f8f8f8;
    width: 200px;
    box-shadow: 0 0 7px #ececec;
}

.post__headerRight__menu__button {
    width: 100%;
    border: none;
    background: none;
    color: #ba2525;
    font-weight: 700;
    padding: 4px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
}

.post__headerRight__menu__button:hover {
    background-color: #f1f1f1;
}